div {
    font-size: .875rem;
    font-family: "Market Sans",Arial,sans-serif;
    display: block;
}

h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    .product-card-default {
        width: 25%;
    }
}

.product-card {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 24px;
    opacity: 1;
    animation: fade .3s;
    display: inline-block;
    color: #363636;
    
}

.image-container {
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    .image-container {
      padding-top: 88%;
    }
  }

@media screen and (max-width: 768px) {
    .image-container,
    .product-name {
        width: 89%;
    }
}

.image-container,
.product-name {
    margin: 0 auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.product-image, .product-image img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: auto;
    max-width: 225px;
    min-height: 255px;
    width: auto;
    height: auto;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

@media screen and (max-width: 1060px){
    .product-name {
        font-size: .75rem
    }
}

.product-name {
    padding-top: 5px;
    color: #363636;
    transition: font-size .3s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -moz-line-clamp: 2;
    display: -webkit-box;
    white-space: normal;
}

a {
    text-decoration: none;
    color: #363636;
}

.detail-image-container .detail-image {
    margin: 0;
    height: 500px;
    width: 500px;
    min-height: 100%;
    max-height: 100%;
}

.detail-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 100%;
}

